<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display Airbnb by ID</title>
  </head>
  <body>
    <h1>Airbnb ID: <%= airbnb.id %></h1>
    <h2><%= airbnb.house %> - <%= airbnb.owner %></h2>
    <a href="/houses">Back to Index</a>
    <a href="/houses/<%= airbnb.id %>/edit">Edit Current Airbnb</a>

    <!-- delete current airbnb -->
    <form method="post" action="/houses/<%= airbnb.id %>?_method=DELETE">
      <button>Delete</button>
    </form>
  </body>
</html>
